.bottom-navigation {
    background-color: hotpink;
}

.bottom-navigation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-32);
    padding: var(--spacing-32) 0;
}

.bottom-navigation-icon {
    font-size: 24px;
    color: var(--color-green);
}

.bottom-navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
}