.bottom-navigation {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--color-off-white);
}

.bottom-navigation::before {
    content: "";
    position: absolute;
    top: 0;              
    left: 0;
    right: 0;
    height: 5px;        
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2); 
}

.bottom-navigation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: var(--spacing-32) 0;
}

.bottom-navigation-icon {
    font-size: 24px;
    color: var(--color-green);
}

.bottom-navigation-icon-active {
    color: var(--color-off-white) !important;
}

.bottom-navigation-item {
    line-height: 0;
}

.bottom-navigation-item-active {
    background-color: var(--color-yellow);
    padding: 8px;
    border-radius: 8px;
}

.bottom-navigation-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
}