.cart {
    display: flex;
    flex-direction: column;
    margin-top: 110.5px;
}

.cart-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);
    text-align: center;
}

.cart-container i {
    font-size: 88px;
}

.cart-cta-flex {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    width: 100%;
}