.detail {
    /* Top navigatie hoogte */
    margin-top: 110.5px;
}

.detail-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    margin-bottom: 10rem !important;
}

.detail-heading {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.detail-img-container {
    height: 300px;
    position: relative;
}

.detail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-options {
    position: absolute;
    top: 0;
    width: 100%;
    padding: var(--spacing-8) 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.detail-options-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-option-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
}

.detail-option-bottom .detail-dot:nth-child(n+2) {
    background-color: var(--color-grey); 
}

.detail-dot {
    background-color: var(--color-green);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.detail-icon {
    font-size: var(--spacing-24);
    color: var(--color-green);
}

.detail-option-back {
    background-color: var(--color-yellow);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-option-back i {
    color: var(--color-off-white);
}

.detail-options-right {
    display: flex;
    gap: var(--spacing-8);
    align-items: center;
}

.detail-options-right button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.detail-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.detail-mid {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.detail-mid a {
    color: var(--color-grey);
    text-decoration: underline;
}

.detail-stars {
    display: flex;
    align-items: center;
}

.detail-stars i {
    color: var(--color-yellow);
}

.detail-stars i:last-of-type {
    color: var(--color-grey);
}

.detail-cta {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-8);
}

.detail-cta button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-yellow);
    padding: var(--spacing-16) 0;
    color: var(--color-off-white);
    border-radius: var(--spacing-24);
    border: none;
    font-size: var(--fs-normal);
    font-weight: var(--fw-bold);
    width: 100%;
}

.detail-cta p span {
    color: var(--color-yellow);
    text-decoration: underline;
}

.detail-cta p, .detail-cta span {
    font-size: 12px;
}
