.discover {
    /* Bottom navigatie hoogte */
    margin-bottom: 88px;
}

.discover-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    padding-top: 0 !important;
}