h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-extra-bold);
    line-height: 1;
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: 1;
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-semi-bold);
}

p {
    font-size: var(--fs-normal);
    font-weight: var(--fw-regular);
}

h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}