* ,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    min-height: 100%;
    height: auto;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-off-white);
    color: var(--color-green);
}