.header {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.header-top p {
    font-weight: var(--fw-light);
}

.header-top h1 {
    line-height: 1;
}

.header-img-container {
    height: 150px;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}