.statistics {
    /* Bottom navigatie hoogte */
    margin-bottom: 88px;
}

.statistics-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-16);
}

.statistics-col {
    text-align: center;
}