.top-navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-off-white);
    z-index: 100;
}

.top-navigation::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.top-navigation-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    padding: var(--spacing-16) 0 var(--spacing-8) 0 !important;
}

.top-navigation-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-navigation-icon {
    font-size: 24px;
    cursor: pointer;
}